<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Home">
	<resultMap id="BaseResultMap" type="com.huifu.entity.Home">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="homeCode" property="homecode" jdbcType="VARCHAR" />
		<result column="homeName" property="homename" jdbcType="VARCHAR" />
		<result column="groupId" property="groupid" jdbcType="INTEGER" />
		<result column="homeAddress" property="homeaddress" jdbcType="VARCHAR" />
		<result column="homeDesc" property="homedesc" jdbcType="VARCHAR" />
		<result column="systemCode" property="systemcode" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, homeCode, homeName, groupId, homeAddress, homeDesc,
		systemCode
	</sql>

	<!-- 验证货物类型名称唯一 -->
	<select id="HomeIsExist" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_home
		where homeName=#{homename,jdbcType=VARCHAR}
	</select>

	<!-- 根据条件查询所有货品大类数量(分页) -->
	<select id="getHomeNum" resultType="java.lang.Integer">
		select count(*)
		from t_home
		where 1 = 1
		<if test="@Ognl@isNotBlank(homeName)">
			and homeName like #{homeName,javaType=Like,
			jdbcType=VARCHAR}
			ESCAPE '\\'
		</if>
	</select>
	<!-- 根据条件查询所有货品大类数据列表(分页) -->
	<select id="queryHome" resultMap="BaseResultMap">
		SELECT
		t3.id AS id,t3.groupId AS districtId,
		t3.homeName AS
		homeName,
		t3.homeDesc AS homeDesc,
		t1.districtName AS districtName,
		t1.districtDesc AS
		districtDesc,
		t1.churchId AS churchId,
		t2.churchName
		AS churchName
		FROM
		t_district t1,
		t_church t2,
		t_home t3
		WHERE
		t3.groupId=t1.id AND
		t1.churchId = t2.id
		<if test="@Ognl@isNotBlank(homeName)">
			and t3.homeName like #{homeName,
			javaType=Like,jdbcType=VARCHAR}
			ESCAPE '\\'
		</if>
		<if test="@Ognl@isNotBlank(churchId)">
			and t1.churchId = #{churchId,jdbcType=INTEGER}
		</if>
		<if test="@Ognl@isNotBlank(districtId)">
			and t3.groupId = #{districtId,jdbcType=INTEGER}
		</if>
		order by id
		limit #{dataStartNum, jdbcType=INTEGER}, #{dataCount,
		jdbcType=INTEGER}
	</select>












	<select id="getAllHome" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_home
	</select>


	<select id="selectByName" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_home
		where homeName = #{homename,jdbcType=INTEGER}
	</select>


	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_home
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_home
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.huifu.entity.Home"
		useGeneratedKeys="true" keyProperty="id">
		insert into t_home (id,
		homeCode,
		homeName,
		groupId, homeAddress, homeDesc,
		systemCode)
		values
		(#{id,jdbcType=INTEGER}, #{homecode,jdbcType=VARCHAR},
		#{homename,jdbcType=VARCHAR},
		#{groupid,jdbcType=INTEGER},
		#{homeaddress,jdbcType=VARCHAR}, #{homedesc,jdbcType=VARCHAR},
		#{systemcode,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.huifu.entity.Home"
		useGeneratedKeys="true" keyProperty="id">
		insert into t_home
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="homecode != null">
				homeCode,
			</if>
			<if test="homename != null">
				homeName,
			</if>
			<if test="groupid != null">
				groupId,
			</if>
			<if test="homeaddress != null">
				homeAddress,
			</if>
			<if test="homedesc != null">
				homeDesc,
			</if>
			<if test="systemcode != null">
				systemCode,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="homecode != null">
				#{homecode,jdbcType=VARCHAR},
			</if>
			<if test="homename != null">
				#{homename,jdbcType=VARCHAR},
			</if>
			<if test="groupid != null">
				#{groupid,jdbcType=INTEGER},
			</if>
			<if test="homeaddress != null">
				#{homeaddress,jdbcType=VARCHAR},
			</if>
			<if test="homedesc != null">
				#{homedesc,jdbcType=VARCHAR},
			</if>
			<if test="systemcode != null">
				#{systemcode,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.huifu.entity.Home">
		update t_home
		<set>
			<if test="homecode != null">
				homeCode = #{homecode,jdbcType=VARCHAR},
			</if>
			<if test="homename != null">
				homeName = #{homename,jdbcType=VARCHAR},
			</if>
			<if test="groupid != null">
				groupId = #{groupid,jdbcType=INTEGER},
			</if>
			<if test="homeaddress != null">
				homeAddress = #{homeaddress,jdbcType=VARCHAR},
			</if>
			<if test="homedesc != null">
				homeDesc = #{homedesc,jdbcType=VARCHAR},
			</if>
			<if test="systemcode != null">
				systemCode = #{systemcode,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.huifu.entity.Home">
		update t_home
		set
		homeCode = #{homecode,jdbcType=VARCHAR},
		homeName =
		#{homename,jdbcType=VARCHAR},
		groupId = #{groupid,jdbcType=INTEGER},
		homeAddress = #{homeaddress,jdbcType=VARCHAR},
		homeDesc =
		#{homedesc,jdbcType=VARCHAR},
		systemCode =
		#{systemcode,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>