<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="RecoveryLife">
	<resultMap id="BaseResultMap" type="com.huifu.entity.RecoveryLife">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="userId" property="userid" jdbcType="INTEGER" />
		<result column="morningRevial" property="morningrevial"
			jdbcType="INTEGER" />
		<result column="twoAltarPray" property="twoaltarpray" jdbcType="INTEGER" />
		<result column="PSRP" property="psrp" jdbcType="INTEGER" />
		<result column="threeOld" property="threeold" jdbcType="INTEGER" />
		<result column="threeOldNum" property="threeoldnum" jdbcType="INTEGER" />
		<result column="oneNew" property="onenew" jdbcType="INTEGER" />
		<result column="oneNewNum" property="onenewnum" jdbcType="INTEGER" />
		<result column="personalPray" property="personalpray" jdbcType="INTEGER" />
		<result column="shepherd" property="shepherd" jdbcType="DOUBLE" />
		<result column="gospel" property="gospel" jdbcType="DOUBLE" />
		<result column="meeting" property="meeting" jdbcType="INTEGER" />
		<result column="meetingType" property="meetingtype" jdbcType="INTEGER" />
		<result column="prophesy" property="prophesy" jdbcType="INTEGER" />
		<result column="time" property="time" jdbcType="DATE" />
		<result column="systemCode" property="systemcode" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, userId, morningRevial, twoAltarPray, PSRP, threeOld,
		threeOldNum,
		oneNew, oneNewNum,
		personalPray, shepherd, gospel, meeting,
		meetingType, prophesy, time, systemCode
	</sql>
	
	
	<select id="listLifeInfoByUserIdAndTime" resultMap="BaseResultMap">
	SELECT 	<include refid="Base_Column_List" />
	 FROM t_recoverylife
	 WHERE userId=#{userid,jdbcType=VARCHAR}
	 <if test="@Ognl@isNotBlank(startTime)">
			and t1.time <![CDATA[>=]]>
			#{startTime, jdbcType=DATE}
		</if>
		<if test="@Ognl@isNotBlank(endTime)">
			and t1.time <![CDATA[<=]]>
			#{endTime, jdbcType=DATE}
		</if>
	
	</select>


	<select id="queryLifeInfoListByUserId" resultMap="BaseResultMap">
		SELECT
		t1.id AS id,
		t1.userId AS userId,
		t2.userName AS userName,
		t2.sex
		AS sex,
		t2.homeId AS homeId,
		t3.homeName AS homeName,
		t2.groupId AS
		groupId,
		t4.groupName AS groupName,
		t4.districtId AS districtId,
		t5.districtName AS districtName,
		t6.churchName AS churchName,
		t5.churchId AS churchId,
		t1.gospel AS gospel,
		t1.meeting AS meeting,
		t1.meetingType AS meetingType,
		t1.morningRevial AS morningRevial,
		t1.oneNew AS oneNew,
		t1.oneNewNum AS oneNewNum,
		t1.personalPray AS
		personalPray,
		t1.prophesy AS prophesy,
		t1.PSRP AS PSRP,
		t1.shepherd AS
		shepherd,
		t1.threeOld AS threeOld,
		t1.threeOldNum AS threeOldNum,
		t1.time AS time,
		t1.twoAltarPray AS twoAltarPray
		FROM
		t_recoverylife t1,
		t_userinfo t2,
		t_home t3,
		t_group t4,
		t_district t5,
		t_church t6
		WHERE
		t1.userId = t2.userId
		AND t2.homeId = t3.id
		AND t2.groupId = t4.id
		AND
		t4.districtId = t5.id
		AND t5.churchId = t6.id
		<if test="userid != null">
			AND t2.userId=#{userid,jdbcType=VARCHAR}
		</if>
		<if test="@Ognl@isNotBlank(startTime)">
			and t1.time <![CDATA[>=]]>
			#{startTime, jdbcType=DATE}
		</if>
		<if test="@Ognl@isNotBlank(endTime)">
			and t1.time <![CDATA[<=]]>
			#{endTime, jdbcType=DATE}
		</if>
		limit #{dataStartNum, jdbcType=INTEGER}, #{dataCount,
		jdbcType=INTEGER}
	</select>

	<select id="queryLifeInfoListByUserIdNum" resultType="java.lang.Integer">
		SELECT
		count(*)
		FROM
		t_recoverylife t1,
		t_userinfo t2,
		t_home t3,
		t_group t4,
		t_district t5,
		t_church t6
		WHERE
		t1.userId = t2.userId
		AND t2.homeId = t3.id
		AND
		t2.groupId = t4.id
		AND t4.districtId = t5.id
		AND t5.churchId = t6.id
		<if test="userid != null">
			AND t2.userId=#{userid,jdbcType=VARCHAR}
		</if>
	</select>


	<select id="getLifeInfoListByUserId" resultMap="BaseResultMap">
		SELECT
		t1.id AS id,
		t1.userId AS userId,
		t2.userName AS userName,
		t2.sex
		AS sex,
		t2.homeId AS homeId,
		t3.homeName AS homeName,
		t2.groupId AS
		groupId,
		t4.groupName AS groupName,
		t4.districtId AS districtId,
		t5.districtName AS districtName,
		t6.churchName AS churchName,
		t5.churchId AS churchId,
		t1.gospel AS gospel,
		t1.meeting AS meeting,
		t1.meetingType AS meetingType,
		t1.morningRevial AS morningRevial,
		t1.oneNew AS oneNew,
		t1.oneNewNum AS oneNewNum,
		t1.personalPray AS
		personalPray,
		t1.prophesy AS prophesy,
		t1.PSRP AS PSRP,
		t1.shepherd AS
		shepherd,
		t1.threeOld AS threeOld,
		t1.threeOldNum AS threeOldNum,
		t1.time AS time,
		t1.twoAltarPray AS twoAltarPray
		FROM
		t_recoverylife t1,
		t_userinfo t2,
		t_home t3,
		t_group t4,
		t_district t5,
		t_church t6
		WHERE
		t1.userId = t2.userId
		AND t2.homeId = t3.id
		AND t2.groupId = t4.id
		AND
		t4.districtId = t5.id
		AND t5.churchId = t6.id
		<if test="userid != null">
			AND t2.userId=#{userid,jdbcType=VARCHAR}
		</if>
		<if test="@Ognl@isNotBlank(startTime)">
			and t1.time <![CDATA[>=]]>
			#{startTime, jdbcType=TIMESTAMP}
		</if>
		<if test="@Ognl@isNotBlank(endTime)">
			and t1.time <![CDATA[<=]]>
			#{endTime, jdbcType=TIMESTAMP}
		</if>
	</select>

	<!-- 根据 ID和时间获取最近一天的信息 -->
	<select id="getLastdayInfoByUseridAndTime" resultMap="BaseResultMap">
		select
		threeOld,
		threeOldNum,
		oneNew, oneNewNum
		from t_recoverylife where
		userId=#{userid,jdbcType=INTEGER} ORDER BY time
		DESC LIMIT 1
	</select>
	<!-- 根据 ID和时间获取当天信息 -->
	<select id="getTodayInfoByUseridAndTime" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_recoverylife where time=#{time,jdbcType=DATE} and userId=
		#{userid,jdbcType=INTEGER}
	</select>


	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_recoverylife
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_recoverylife
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.huifu.entity.RecoveryLife">
		insert into t_recoverylife
		(id, userId, morningRevial,
		twoAltarPray, PSRP, threeOld,
		threeOldNum,
		oneNew, oneNewNum,
		personalPray, shepherd, gospel,
		meeting, meetingType,
		prophesy,
		time, systemCode)
		values (#{id,jdbcType=INTEGER},
		#{userid,jdbcType=INTEGER},
		#{morningrevial,jdbcType=INTEGER},
		#{twoaltarpray,jdbcType=INTEGER}, #{psrp,jdbcType=INTEGER},
		#{threeold,jdbcType=INTEGER},
		#{threeoldnum,jdbcType=INTEGER},
		#{onenew,jdbcType=INTEGER},
		#{onenewnum,jdbcType=INTEGER},
		#{personalpray,jdbcType=INTEGER}, #{shepherd,jdbcType=DOUBLE},
		#{gospel,jdbcType=DOUBLE},
		#{meeting,jdbcType=INTEGER},
		#{meetingtype,jdbcType=INTEGER},
		#{prophesy,jdbcType=INTEGER},
		#{time,jdbcType=TIMESTAMP}, #{systemcode,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.huifu.entity.RecoveryLife">
		insert into t_recoverylife
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userid != null">
				userId,
			</if>
			<if test="morningrevial != null">
				morningRevial,
			</if>
			<if test="twoaltarpray != null">
				twoAltarPray,
			</if>
			<if test="psrp != null">
				PSRP,
			</if>
			<if test="threeold != null">
				threeOld,
			</if>
			<if test="threeoldnum != null">
				threeOldNum,
			</if>
			<if test="onenew != null">
				oneNew,
			</if>
			<if test="onenewnum != null">
				oneNewNum,
			</if>
			<if test="personalpray != null">
				personalPray,
			</if>
			<if test="shepherd != null">
				shepherd,
			</if>
			<if test="gospel != null">
				gospel,
			</if>
			<if test="meeting != null">
				meeting,
			</if>
			<if test="meetingtype != null">
				meetingType,
			</if>
			<if test="prophesy != null">
				prophesy,
			</if>
			<if test="time != null">
				time,
			</if>
			<if test="systemcode != null">
				systemCode,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userid != null">
				#{userid,jdbcType=INTEGER},
			</if>
			<if test="morningrevial != null">
				#{morningrevial,jdbcType=INTEGER},
			</if>
			<if test="twoaltarpray != null">
				#{twoaltarpray,jdbcType=INTEGER},
			</if>
			<if test="psrp != null">
				#{psrp,jdbcType=INTEGER},
			</if>
			<if test="threeold != null">
				#{threeold,jdbcType=INTEGER},
			</if>
			<if test="threeoldnum != null">
				#{threeoldnum,jdbcType=INTEGER},
			</if>
			<if test="onenew != null">
				#{onenew,jdbcType=INTEGER},
			</if>
			<if test="onenewnum != null">
				#{onenewnum,jdbcType=INTEGER},
			</if>
			<if test="personalpray != null">
				#{personalpray,jdbcType=INTEGER},
			</if>
			<if test="shepherd != null">
				#{shepherd,jdbcType=DOUBLE},
			</if>
			<if test="gospel != null">
				#{gospel,jdbcType=DOUBLE},
			</if>
			<if test="meeting != null">
				#{meeting,jdbcType=INTEGER},
			</if>
			<if test="meetingtype != null">
				#{meetingtype,jdbcType=INTEGER},
			</if>
			<if test="prophesy != null">
				#{prophesy,jdbcType=INTEGER},
			</if>
			<if test="time != null">
				#{time,jdbcType=TIMESTAMP},
			</if>
			<if test="systemcode != null">
				#{systemcode,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.huifu.entity.RecoveryLife">
		update t_recoverylife
		<set>
			<if test="userid != null">
				userId = #{userid,jdbcType=INTEGER},
			</if>
			<if test="morningrevial != null">
				morningRevial = #{morningrevial,jdbcType=INTEGER},
			</if>
			<if test="twoaltarpray != null">
				twoAltarPray = #{twoaltarpray,jdbcType=INTEGER},
			</if>
			<if test="psrp != null">
				PSRP = #{psrp,jdbcType=INTEGER},
			</if>
			<if test="threeold != null">
				threeOld = #{threeold,jdbcType=INTEGER},
			</if>
			<if test="threeoldnum != null">
				threeOldNum = #{threeoldnum,jdbcType=INTEGER},
			</if>
			<if test="onenew != null">
				oneNew = #{onenew,jdbcType=INTEGER},
			</if>
			<if test="onenewnum != null">
				oneNewNum = #{onenewnum,jdbcType=INTEGER},
			</if>
			<if test="personalpray != null">
				personalPray = #{personalpray,jdbcType=INTEGER},
			</if>
			<if test="shepherd != null">
				shepherd = #{shepherd,jdbcType=DOUBLE},
			</if>
			<if test="gospel != null">
				gospel = #{gospel,jdbcType=DOUBLE},
			</if>
			<if test="meeting != null">
				meeting = #{meeting,jdbcType=INTEGER},
			</if>
			<if test="meetingtype != null">
				meetingType = #{meetingtype,jdbcType=INTEGER},
			</if>
			<if test="prophesy != null">
				prophesy = #{prophesy,jdbcType=INTEGER},
			</if>
			<if test="time != null">
				time = #{time,jdbcType=TIMESTAMP},
			</if>
			<if test="systemcode != null">
				systemCode = #{systemcode,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.huifu.entity.RecoveryLife">
		update
		t_recoverylife
		set userId = #{userid,jdbcType=INTEGER},
		morningRevial =
		#{morningrevial,jdbcType=INTEGER},
		twoAltarPray =
		#{twoaltarpray,jdbcType=INTEGER},
		PSRP = #{psrp,jdbcType=INTEGER},
		threeOld = #{threeold,jdbcType=INTEGER},
		threeOldNum =
		#{threeoldnum,jdbcType=INTEGER},
		oneNew = #{onenew,jdbcType=INTEGER},
		oneNewNum = #{onenewnum,jdbcType=INTEGER},
		personalPray =
		#{personalpray,jdbcType=INTEGER},
		shepherd =
		#{shepherd,jdbcType=DOUBLE},
		gospel = #{gospel,jdbcType=DOUBLE},
		meeting = #{meeting,jdbcType=INTEGER},
		meetingType =
		#{meetingtype,jdbcType=INTEGER},
		prophesy =
		#{prophesy,jdbcType=INTEGER},
		time = #{time,jdbcType=TIMESTAMP},
		systemCode = #{systemcode,jdbcType=VARCHAR}
		where id =
		#{id,jdbcType=INTEGER}
	</update>



</mapper>