<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="RequestInfo">
	<resultMap id="BaseResultMap" type="com.huifu.entity.RequestInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="userId" property="userid" jdbcType="INTEGER" />
		<result column="info" property="info" jdbcType="VARCHAR" />
		<result column="statusinfo" property="statusinfo" jdbcType="INTEGER" />
		<result column="systemCode" property="systemcode" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, userId, info, statusinfo, systemCode
	</sql>
<!-- 根据条件查询所有货品大类数据列表(分页) -->
	<select id="queryRequestInfo" resultMap="BaseResultMap">
		SELECT
		t2.id AS id,
		t1.userName AS userName,
		t1.userId AS userId,
		t2.statusinfo AS statusinfo,
		t2.info AS info,
		t3.groupName AS groupName,
		t4.homeName AS homeName
		FROM
		t_userinfo t1,
		t_requestinfo t2,
		t_group t3,
		t_home t4
		WHERE
		t1.userId = t2.userId
		AND t3.id = t1.groupId
		AND t4.id = t1.homeId
		order by t2.id,t2.statusinfo
		limit #{dataStartNum, jdbcType=INTEGER}, #{dataCount,
		jdbcType=INTEGER}
	</select>
	<select id="ListAllRequest" resultMap="BaseResultMap">
		SELECT
		t2.id AS id,
		t1.userName AS userName,
		t1.userId AS userId,
		t2.statusinfo AS statusinfo,
		t2.info AS info,
		t3.groupName AS groupName,
		t4.homeName AS homeName
		FROM
		t_userinfo t1,
		t_requestinfo t2,
		t_group t3,
		t_home t4
		WHERE
		t1.userId = t2.userId
		AND t3.id = t1.groupId
		AND t4.id = t1.homeId
	</select>



	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_requestinfo
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_requestinfo
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.huifu.entity.RequestInfo">
		insert into t_requestinfo (id, userId, info,
		statusinfo, systemCode)
		values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER},
		#{info,jdbcType=VARCHAR},
		#{statusinfo,jdbcType=INTEGER}, #{systemcode,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.huifu.entity.RequestInfo">
		insert into t_requestinfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userid != null">
				userId,
			</if>
			<if test="info != null">
				info,
			</if>
			<if test="statusinfo != null">
				statusinfo,
			</if>
			<if test="systemcode != null">
				systemCode,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userid != null">
				#{userid,jdbcType=INTEGER},
			</if>
			<if test="info != null">
				#{info,jdbcType=VARCHAR},
			</if>
			<if test="statusinfo != null">
				#{statusinfo,jdbcType=INTEGER},
			</if>
			<if test="systemcode != null">
				#{systemcode,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.huifu.entity.RequestInfo">
		update t_requestinfo
		<set>
			<if test="userid != null">
				userId = #{userid,jdbcType=INTEGER},
			</if>
			<if test="info != null">
				info = #{info,jdbcType=VARCHAR},
			</if>
			<if test="statusinfo != null">
				statusinfo = #{statusinfo,jdbcType=INTEGER},
			</if>
			<if test="systemcode != null">
				systemCode = #{systemcode,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.huifu.entity.RequestInfo">
		update t_requestinfo
		set userId = #{userid,jdbcType=INTEGER},
		info = #{info,jdbcType=VARCHAR},
		statusinfo = #{statusinfo,jdbcType=INTEGER},
		systemCode = #{systemcode,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>